<html>
<head>
    <title>Simple Django Test</title>
</head>
<body>

Welcome visitor number {{ number_of_visits }}<br />

Every visit (IP address, request URL and user agent) to this page is logged to our database.<br />

<br />

Your last visits:
{% for visit in last_visits %}
    {{ visit.datetime }}, {{ visit.user_agent }}, {{ visit.request_path }}
{% endfor %}

</body>
</html>